<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 5 DatePicker</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
    
    
    <style>
        .sidebar {
            height: 100vh;
            position: fixed;
            left: 0;
            width: 250px; /* Adjusted width */
            overflow-x:hidden;
            overflow-y:hidden;
            z-index: 1000;
            background-color: #f9fafa00; /* Light gray background */
            padding: 20px;
            box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.5); /* Added shadow for depth */
        }

        .sidebar .nav-item {
            list-style: none;
            margin-bottom: 30px;
            margin-left: -9px;
            font-weight: 400;
            

        }

        .sidebar .nav-link {
            text-decoration: none;
            color: #000; /* Black text color */
            font-size: 18px;
            display: block;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

        .sidebar .nav-link:hover {
            background-color: #e9ecef; /* Light hover effect */
            color: #007bff; /* Blue text on hover */
        }

        .sidebar .nav-link img {
            margin-top: 18px;
            margin-right: 10px;
            vertical-align:bottom;
        }

        .aa {
            font-size: 20px;
        }

        .custom-rounded-img {
            border-radius: 50%; /* Make the image round */
            width: 25px;
            height: 25px;
            /* Adjust width as needed * /* Adjust height as needed */
            object-fit:cover; /* Ensure the image covers the area */
        }
      
        .dropdown {
            position: absolute;
            bottom: 10px;
            margin-top: 0; /* ลบ margin-top ที่กำหนดไว้ก่อนหน้านี้ */
            width: 100%; /* กำหนดความกว้างเท่ากับปุ่มอื่นๆ */
        }

        .dropdown-menu {
            display: none; /* ซ่อน dropdown menu ไว้เริ่มต้น */
            position: absolute;
            bottom: 100%; /* ตั้งค่าให้ปรากฏด้านล่างของปุ่ม */
            left: 0;
            z-index: 1000;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            background-color: white;
            width: 90%; /* ขยายความกว้างเพื่อให้เต็มปุ่ม */
        }

        /* อาจต้องปรับแต่งสไตล์ของปุ่มที่อยู่ภายใน .dropdown ให้สอดคล้องกับปุ่มอื่นๆ */
        .dropdown button {
            width: 50%; /* กำหนดความกว้างเท่ากับปุ่มอื่นๆ */
            /* สไตล์อื่นๆ ตามที่ต้องการ */
        }

        .dropdown-toggle::after {
            display: none;
        }

        .container {
            max-width: 800px;
            margin: auto;
            padding: 25px;
        }

        .profile-header {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .profile-image {
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin-right: 45px;
            position: relative;
        }

        .profile-details .row {
            margin-bottom: 10px;
        }

        .profile-actions {
            padding-left: 20px; 
        }

        .profile-actions .btn {
            margin: 3px;
        }

        .profile-image-link {
            display: inline-block;
            cursor: pointer;
        }

        .profile-image {
            transition: all 0.3s ease;
        }

        .profile-image-link:hover .profile-image {
            opacity: 0.7; /* ทำให้รูปภาพมีความโปร่งใสเมื่อเมาส์ชี้ */
            /* หรือคุณอาจต้องการเพิ่มเอฟเฟกต์อื่นๆ เช่น การเปลี่ยนสีขอบ */
        }

        .profile-image-link {
            display: inline-block;
            position: relative;
            cursor: pointer;
        }

        .profile-image-link:hover .profile-image {
            opacity: 0.7; /* ทำให้รูปภาพมีความโปร่งใส */
        }

        .profile-image-link:hover::after {
            content: '';
            display: block;
            width: 24px; /* กำหนดขนาดกว้างของ pseudo-element */
            height: 24px; /* กำหนดขนาดสูงของ pseudo-element */
            background-image: url('/public/img/camera.png'); /* ตั้งค่ารูปภาพเป็น background */
            background-size: cover; /* หรือใช้ contain ตามความต้องการ */
            font-family: 'FontAwesome';
            position: absolute;
            left: 40%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        
        .custom-button {
            width: 130px;
            height: 32px;
            color: #000000;
            background-color: #EFEFEF;
            border: 0px solid #ccc;
            border-radius: 7px;
            margin-right: 15px;
        }

        .custom-button:hover {
            background-color: #d1cfcf; /* รักษาสีพื้นหลังเดียวกันเมื่อเอาเมาส์ไปชี้ */
          /* คุณสามารถเพิ่มเอฟเฟกต์อื่นๆ ที่นี่ถ้าต้องการ */
        }

        .welcome-text {
            position: relative;
            top: -35px; /* ปรับค่านี้ตามที่คุณต้องการ */
        }


        /* .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 500px;
            margin: 0 auto;
            height: 5vh;
            list-style: none;
        }

        .menu li {
            width: 150px;
            height: 50px;
            transition: background-position-x 0.9s linear;
            text-align: center;

            a {
                margin-bottom: 5px;
                font-size: 16px;
                color: #777;
                text-decoration: none;
                transition: all 0.45s;
            }

            &:hover {
                
                text-decoration: underline; 
                text-decoration-color: red; 
                text-decoration-thickness: 2px; 
                
            }

            &:hover a {
                color: #d94f5c;
            }

            &:not(:last-child) {
                margin-right: 30px;
            }
        } */
        
        .snip1143 {
            
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
        }
        
        .snip1143 * {
            box-sizing: border-box;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }

        .snip1143 li {
            display: inline-block;
            list-style: outside none none;
            margin: 0 1.5em;
            overflow: hidden;
        }

        .snip1143 a {
            padding: 0.3em 0;
            color: rgba(0, 0, 0, 0.5);
            position: relative;
            display: inline-block;
            letter-spacing: 1px;
            margin: 0;
            text-decoration: none;
        }

        .snip1143 a:before,
        .snip1143 a:after {
            position: absolute;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }

        .snip1143 a:before {
            top: 100%;
            display: block;
            height: 3px;
            width: 100%;
            content: "";
            background-color: #000000; /*สีเส้น*/

        }

        .snip1143 a:after {
            padding: 0.3em 0;
            position: absolute;
            top: 100%;
            left: 0;
            content: attr(data-hover);
            color: rgb(0, 0, 0);
            white-space: nowrap;
        }

        .snip1143 li:hover a,
        .snip1143 .current a {
            transform: translateY(-100%);
        }

        .snip1143 a.active {
            color: rgb(0, 0, 0); /* สีแดงเพื่อเน้น */
            text-decoration: overline; /* เส้นใต้ */
            text-decoration-thickness: 20%;

        }




        hr{
            width: 850px;
        }
        
        .card-body-Info{
            border: 1px solid #b1b1b1; 
            border-radius: 7px;
            padding: 20px;
        }

        .card-body-business{
            border: 1px solid #b1b1b1; 
            border-radius: 7px;
            padding: 20px;
        }

        .post-all {
            display: flex;
            justify-content: space-around; /* หรือคุณอาจเลือกใช้ center, space-between ตามที่คุณต้องการ */
            margin-left: 300px;
            padding-left: 10px;
        }

        .post-1 {
            width: 316px;
            height: 316px;
            margin: 3px;
            background-color: #ddd;
        }

        .post-2 {
            width: 316px;
            height: 316px;
            margin: 3px;
            background-color: #ddd;
        }

        .post-image {
            width: 100%; /* รูปภาพจะขยายเต็มขนาดของคอนเทนเนอร์ */
            height: 100%; /* รูปภาพจะขยายเต็มขนาดของคอนเทนเนอร์ */
            object-fit: cover; /* รูปภาพจะถูกเติมให้เต็มขนาดและครอบส่วน */
            position: relative;
        }

        .post-image-link {
            cursor: pointer;
        }

        .post-image {
            transition: all 0.3s ease;
        }

        .post-image-link:hover .post-image {
            background-image: rgba(0, 0, 0, 0.5); /* ทำให้รูปภาพมีความโปร่งใสเมื่อเมาส์ชี้ */
            /* หรือคุณอาจต้องการเพิ่มเอฟเฟกต์อื่นๆ เช่น การเปลี่ยนสีขอบ */
        }

        .post-container {
            margin-left: -200px; /* หรือค่าที่เหมาะสมกับการออกแบบของคุณ */
        }
        #boxA{
          flex-grow: 1; /* ขยายตามพื้นที่ที่เหลือในโพสต์ */
          overflow: hidden; /* ซ่อนเนื้อหาเกินขอบกล่อง */
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">

        <div class="sidebar">
            <!-- Sidebar content here -->
            <div>
                <a href="/"ß class="d-flex mb-3 mb-md-0 text-decoration-none">
                    <span class="fs-4"><img src="/public/img/Logo-Instagram.png" style="width: 60%; margin-left: -2px; margin-bottom: 10px;"></span>
                </a>
            
                <ul class="nav">
                    <li class="nav-item">
                
                        <a href="/user/feed" class="nav-link active" aria-current="page">
                            <img src="/public/img/homepage.png" alt="" style="width: 13%;">
                            <span class="aa">หน้าหลัก</span>
                        </a>
                        
                        
                        <a href="#" class="nav-link active" aria-current="page">
                            <img src="/public/img/search.png" alt="" style="width: 12%;">
                            <span class="aa">ค้นหา </span>
                        </a>
                        
                        
                        <a href="#" class="nav-link">
                            <img src="/public/img/compass.png" alt="" style="width: 12%;">
                            <span class="aa">สำรวจ</span>
                        </a>
                        
                        
                      
                       


                    <!-- Replace 'rounded-circle' with 'custom-rounded-img' -->
                        <a href="/user/profile" class="nav-link">
                            <img src="/img/file" class="custom-rounded-img" alt="">
                            <span class="aa">โปรไฟล์</span>
                        </a>


                        <div class="dropdown">
                            <button class="btn dropdown-toggle " type="button" >
                                <img src="/public/img/more.png" alt="Logo" style="width: 25%; margin-right: 10px;">
                                <span class="aa">เพิ่มเติม</span>
                            </button>

                            <ul class="dropdown-menu" style="display: none;">
                                <li><a class="dropdown-item " href="/logout" >สลับบัญชี</a></li>
                                <li><a class="dropdown-item " href="/logout">ออกจากระบบ</a></li>
                            </ul>
                        </div>

                    </li>        
                </ul>
            </div>
        </div>

      
        <!-- Main Content -->
        <main>
            <div class="container">
                <div class="profile-header text-center">

                    <a href="#" class="profile-image-link" data-bs-toggle="modal" data-bs-target="#profileImageUploadModal">
                        <img src="/img/file" class="profile-image rounded-circle" alt="Profile Picture">
                    </a>  

                    <div class="welcome-text">
                        <% if (rows.length > 0) { %>
                            <% rows.forEach(row => { %>
                                <div class="d-flex align-items-center justify-content-between">
                                    <h4 class="user-role">
                                        <%= user %>  
                                    </h4>
                                    <div style="background-color: #b1afaf; border-radius: 6px; margin-left: 5px; padding-left: 5px; padding-right: 5px;">
                                        <span style="font-size: smaller; color: white;"><%= row.role_name %></span>
                                    </div>
                                    <div class="profile-actions">
                                        <a href="#" class="btn custom-button" data-bs-toggle="modal" data-bs-target="#editProfileModal">แก้ไขข้อมูลผู้ใช้</a>
                                        <a href="/user/register/market" class="btn custom-button">สร้างบัญชีธุรกิจ</a>
                                    </div>
                                </div>
                                
                            <% }); %>
                        <% } %>
                    </div>
                
    
                </div>
                <br>
                
            
                <div class="profile-details">
                    <!-- ข้อมูลผู้ใช้ -->

                    <div class="card-body-Info related-div" >
                        <div style="padding-bottom: 20px ; position: relative;">
                            <strong class="nameinfo" style="font-size: 30px;">ข้อมูลส่วนตัว <img src="/public/img/info.png" alt="" style="width: 30px; height: 30px;"></strong>
                        </div>
                        <% if (rows.length > 0) { %>
                            <% rows.forEach(row => { %>
                                <!-- ข้อมูลผู้ใช้ -->
                                <div class="row mb-3">
                                    <!-- รายละเอียดผู้ใช้ -->
                                    <div class="col">
                                        <strong>ชื่อ-นามสกุล:</strong> <%= row.name %>  <%= row.surname %>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <strong>เพศ:</strong> <%= row.gender_name %>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <strong>วันเกิด:</strong> <%= formatDate2(row.birthday) %>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <strong>อายุ:</strong> <%= calculateAge(row.birthday) %>
                                    </div>
                                    <hr>
                                </div>
                                
                                <div class="row mb-3">
                                    <div class="col">
                                        <strong>เบอร์โทรศัพท์:</strong> <%= row.phone_no %>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <strong>Email:</strong> <%= row.email %>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row mb-3">
                                    <div class="col" id="boxA">
                                        <strong>เกี่ยวกับฉัน:</strong> <%= row.about %>
                                    </div>
                                    
                                </div>

                            <% }); %>
                        <% } else { %>
                            <p class="text-center">No data available.</p>
                        <% } %>
                    </div>

                    

                    <div class="card-body-post related-div" id="posts"   style="display: none;">
                        <div class="post-container">
                            <div class="d-flex justify-content-center">
                                <div class="post-all" style="width: 935px;">
                                    <div class="post-1">
                                        <a href="#" class="post-image-link" data-bs-toggle="modal" data-bs-target="#postImageUploadModal">
                                            <img src="https://images.unsplash.com/photo-1682685797660-3d847763208e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" class="post-image" alt="">
                                        </a>
                                    </div>
                                    <div class="post-1">
                                        <img src="https://images.unsplash.com/photo-1706016869327-651c2c18650b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8" alt="" class="post-image">
                                    </div>
                                    <div class="post-1">
                                        <img src="https://images.unsplash.com/photo-1706158634402-7790851d177e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8" alt="" class="post-image">
                                     </div>
                                </div>
                            </div>
                         
                            <div class="d-flex justify-content-center">
                                <div class="post-all" style="width: 935px;">
                                    <div class="post-1">
                                        <img src="https://plus.unsplash.com/premium_photo-1702910931271-2ed8ef023fd0?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="post-image">
                                    </div>
                                    <div class="post-1">
                                        <img src="https://images.unsplash.com/photo-1703159453462-8a2d2866afaf?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8" alt="" class="post-image">
                                    </div>
                                    <div class="post-1">
                                        <img src="https://images.unsplash.com/photo-1705939924260-70e1c3ba4c63?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMHx8fGVufDB8fHx8fA%3D%3D" alt="" class="post-image">
                                     </div>
                                </div>
                            </div>
                         
                            <div class="d-flex justify-content-center">
                                <div class="post-all" style="width: 935px;">
                                    <div class="post-1">
                                        <img src="https://images.unsplash.com/photo-1706087270134-436d8b4fc15b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHx8" alt="" class="post-image">
                                    </div>
                                    <div class="post-1">
                                        <img src="https://images.unsplash.com/photo-1700224673906-36185dafec8a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHx8" alt="" class="post-image">
                                    </div>
                                    <div class="post-1">
                                        <img src="https://plus.unsplash.com/premium_photo-1700248829431-0078ceb1a8a7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMnx8fGVufDB8fHx8fA%3D%3D" alt="" class="post-image">
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="card-body-saved related-div" id="saved"   style="display: none;">
                        777777777777777777
                    </div> -->
                
                </div>
        
            </div>  

            <!-- Modal อัพโหลดรูปภาพ -->
            <div class="modal fade" id="profileImageUploadModal" tabindex="-1" aria-labelledby="profileImageUploadModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="align-items: center;">
                            <h5 class="modal-title" id="profileImageUploadModalLabel">อัพโหลดรูป Profile</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- ฟอร์มอัพโหลดรูปภาพ -->
                            <form action="/img/upload" method="post" enctype="multipart/form-data">
                                <div class="drop-zone">
                                    <p>ลากและวางไฟล์รูปภาพที่นี่หรือคลิกเพื่อเลือกไฟล์</p>
                                    <input type="file" name="uploadedFile" id="uploadedFile" class="form-control" accept="image/*" hidden>
                                </div>
                                <img id="selectedImage" src="#" alt="Selected Image" style="max-width: 100%; max-height: 200px; display: none;" />
                                <input type="submit" value="Upload Image" name="submit" class="btn btn-primary mt-3" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
                <!-- Modal แก้ไขโปรไฟล์ -->
                <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header" style="align-items: center;">
                                <h5 class="modal-title" id="editProfileModalLabel">แก้ไขข้อมูลผู้ใช้</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <% if (rows.length > 0) { %>
                                <% rows.forEach(row => { %>
                                    <!-- ฟอร์มแก้ไขข้อมูลผู้ใช้ -->
                                    <div class="modal-body">
                                        <form action="/user/update_profileEdit" method="post">
                                            <input type="hidden" id="user_id" name="user_id" value="">
                                            <div class="mb-3">
                                                <label for="username" class="form-label">ชื่อผู้ใช้</label>
                                                <input type="text" class="form-control" id="username" name="username" value="" required>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <label for="name" class="form-label">ชื่อ</label>
                                                    <input type="text" class="form-control" id="name" name="name" value="" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="surname" class="form-label">นามสกุล</label>
                                                    <input type="text" class="form-control" id="surname" name="surname" value="" required>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <label for="gender" class="form-label">เพศ</label>
                                                    <select class="form-select" id="gender" name="gender">
                                                        <option value="ชาย">ชาย</option>
                                                        <option value="หญิง">หญิง</option>
                                                        <option value="LGBTQ+">LGBTQ+</option>
                                                        <option value="ไม่ระบุ">ไม่ระบุ</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="b_date" class="form-label">วัน/เดือน/ปีเกิด</label>
                                                    <input type="date" class="form-control" id="b_date" name="b_date" value="" required>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="email" class="form-label">อีเมล</label>
                                                <input type="email" class="form-control" id="email" name="email" value="" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="aboutMe" class="form-label">เกี่ยวกับฉัน</label>
                                                <textarea class="form-control" id="aboutMe" name="aboutme"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="phoneNumber" class="form-label">เบอร์โทรศัพท์</label>
                                                <input type="tel" class="form-control" id="phonenumber" name="phoneNumber" value="">
                                            </div>
                                            
                                          

                                            <script>
                                                document.getElementById('b_date').addEventListener('change', function() {
                                                console.log('วันที่เลือก: ', this.value);
                                                });
                                            </script>

                                            <button type="submit" class="btn btn-primary">บันทึก</button>
                                        </form>
                                    </div>
                                <% }); %>
                            <% } else { %>
                                <p class="text-center">No data available.</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            
                <% if (rows.length > 0) { %>
                    <% rows.forEach(row => { %>


                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                var editProfileModal = document.getElementById('editProfileModal');
                                editProfileModal.addEventListener('show.bs.modal', function (event) {
                                    var currentUserId = "<%= row.user_id %>"; 
                                    var currentUsername = "<%= row.username %>"; 
                                    var currentName = "<%= row.name %>";   
                                    var currentSurname = "<%= row.surname %>"; 
                                    var currentEmail = "<%= row.email %>"; 
                                    var currentAboutMe = "<%= row.about %>"; 
                                    var currentPhoneNumber = "<%= row.phone_no %>"; 
                                    var currentHomeNumber = "<%= row.home_number %>"; 
                                    var currentVillage = "<%= row.village %>"; 
                                    var currentBDate = "<%= formatDate(row.birthday) %>"; 
                                    var currentAddress = "<%= row.subdistrict_name + ' - ' + row.district_name + ' - ' + row.province_name + ' - ' + row.zip_code %>"; 
                                    var currentGender = "<%= row.gender_name %>";
                        
                                    // ตั้งค่าค่าเริ่มต้นในฟอร์มแก้ไขข้อมูลผู้ใช้
                                    document.getElementById('user_id').value = currentUserId;
                                    document.getElementById('username').value = currentUsername;
                                    document.getElementById('name').value = currentName;
                                    document.getElementById('surname').value = currentSurname;
                                    document.getElementById('email').value = currentEmail;
                                    document.getElementById('aboutMe').value = currentAboutMe;
                                    document.getElementById('phonenumber').value = currentPhoneNumber;
                                    document.getElementById('b_date').value = currentBDate;
                                    document.getElementById('search').value = currentAddress;
                                    document.getElementById('gender').value = currentGender;
                                });
                            });
                        </script>
                    <% }); %>
                <% } %>
            
                <script>
                    // สคริปต์สำหรับการค้นหาที่อยู่
                    document.getElementById('search').addEventListener('input', function () {
                        var query = this.value;
                        var resultsDiv = document.getElementById('search-results');

                        if (query.trim() !== '') {
                            fetch('/search/api?query=' + encodeURIComponent(query))
                            .then(function (response) {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(function (data) {
                                resultsDiv.innerHTML = '';
                                data.results.forEach(function (result) {
                                    var resultItem = document.createElement('a');
                                    resultItem.href = "javascript:void(0);";
                                    resultItem.className = 'list-group-item list-group-item-action';
                                    resultItem.textContent = result.subdistrict_name + " - " + result.district_name + " - " + result.province_name + " - " + result.zip_code;

                                    resultItem.addEventListener('click', function() {
                                        document.getElementById('search').value = result.subdistrict_name + " - " + result.district_name + " - " + result.province_name + " - " + result.zip_code;
                                        // Update hidden fields
                                        document.getElementById('subdistrict').value = result.subdistrict_name;
                                        document.getElementById('district').value = result.district_name;
                                        document.getElementById('province').value = result.province_name;
                                        document.getElementById('zipcode').value = result.zip_code;
                                        resultsDiv.innerHTML = '';
                                    });

                                    resultsDiv.appendChild(resultItem);
                                });
                            })
                            .catch(function (error) {
                                console.error('Fetch error:', error);
                            });
                        } else {
                            resultsDiv.innerHTML = '';
                        }
                    });
                </script>




        </main>
        <div class="container">
            <footer class="py-3 my-4">
                <hr>
                
            </footer>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var dropZone = document.querySelector('.drop-zone');
        var fileInput = document.getElementById('uploadedFile'); // เปลี่ยน id เป็น 'uploadedFile'
        var selectedImage = document.getElementById('selectedImage');
    
        dropZone.addEventListener('click', function() {
            fileInput.click();
        });
    
        fileInput.addEventListener('change', function() {
            if (fileInput.files.length > 0) {
            var selectedFile = fileInput.files[0];
            var objectURL = URL.createObjectURL(selectedFile);
            selectedImage.src = objectURL;
            selectedImage.style.display = 'block';
            } else {
            selectedImage.style.display = 'none';
            }
        });
    
        dropZone.addEventListener('dragover', function(e) {
            e.preventDefault();
            dropZone.classList.add('drop-zone--over');
        });
    
        ['dragleave', 'dragend'].forEach(type => {
            dropZone.addEventListener(type, function() {
            dropZone.classList.remove('drop-zone--over');
            });
        });
    
        dropZone.addEventListener('drop', function(e) {
            e.preventDefault();
            dropZone.classList.remove('drop-zone--over');
            if (e.dataTransfer.files.length > 0) {
            fileInput.files = e.dataTransfer.files;
            var selectedFile = fileInput.files[0];
            var objectURL = URL.createObjectURL(selectedFile);
            selectedImage.src = objectURL;
            selectedImage.style.display = 'block';
            } else {
            selectedImage.style.display = 'none';
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var dropdown = document.querySelector('.dropdown');
        var dropdownMenu = document.querySelector('.dropdown-menu');

        // เมื่อคลิกที่ปุ่ม dropdown
        dropdown.addEventListener('click', function (event) {
            // ป้องกันเหตุการณ์เริ่มต้นของลิงก์
            
                
            // แสดงหรือซ่อน dropdown menu
            if (dropdownMenu.style.display === 'block') {
                dropdownMenu.style.display = 'none';
            } else {
                dropdownMenu.style.display = 'block';
            }
        });

        // ซ่อน dropdown เมื่อคลิกนอกเขต dropdown
        document.addEventListener('click', function (event) {
            var isClickInside = dropdown.contains(event.target);

            if (!isClickInside) {
                dropdownMenu.style.display = 'none';
            }
        });
    });

</script>


    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>