<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-link">ADMIN CONTROL</li>
                <li class="nav-link ml-auto">
                    <a href="/location/add" class="nav-link active">Add User</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <!-- Check if data exists and has a length greater than 0 -->
            <% if(data && data.length) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">NO.</th>
                        <th scope="col">USER</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th width="200px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < data.length; i++) { %>
                    <tr>
                        <th scope="row"><%= data[i].login_id %></th>
                        <td><%= data[i].user %></td>
                        <td><%= data[i].email %></td>
                        <td><%= data[i].password %></td>
                        <td>
                            <a href="../location/edit/<%= data[i].login_id %>" class="btn btn-success edit">Edit</a>
                            <a href="/location/delete/<%= data[i].login_id %>" class="btn btn-danger delete" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } %>

            <!-- If the result is empty -->
            <% if(!data || !data.length) { %>
            <p class="text-center">No User found!</p>
            <% } %>
        </div>
    </div>
</div>

</body>
</html>
